@import "./assets/style/app";

.feedback {
  @include container;
  overflow: hidden;
  position: relative;
  background: #000;
  transition: $time;

  .ring_mobile {
    @include onlyMobile();
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    mix-blend-mode: lighten;
  }

  .ring_desktop {
    @include onlyDesktop();
    position: absolute;
    bottom: 0;
    right: 0;
    mix-blend-mode: lighten;
  }

  .inner {
    position: relative;
    z-index: 2;
    @include inner;
    padding-top: 80px;
    padding-bottom: 60px;

    @include desktop {
      padding-top: 100px;
      padding-bottom: 100px;
    }

    .title {
      @include h2;
      color: #FFF;
      transition: $time;
      margin-top: 40px;

      @include desktop {
        margin-top: 60px;
        width: 842px;
      }
    }

    .description {
      margin-top: 20px;
      @include Almarai;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #FFF;
      transition: $time;

      @include desktop {
        margin-top: 24px;
        width: 320px;
      }
    }

    .submitBtn {
      margin-top: 40px;
      //background: #FFF;
      //transition: $time;

      @include desktop {
        width: 255px;
      }
    }
  }

  &_white {
    background: #7B8195;

    .inner {
      .title {
        color: #000;
      }

      .description {
        color: #000;
      }

      .submitBtn {
        //background: #000;
      }
    }
  }


}
