@import "./assets/style/app";

.feedback {
  @include container;
  overflow: hidden;
  position: relative;
  background: #000;
  transition: $time;

  .ring_mobile {
    @include onlyMobile();
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 50%;
    height: 160px;
    width: auto;
    transform: translateX(-50%);

  }

  .ring_desktop {
    @include onlyDesktop();
    position: absolute;
    bottom: 0;
    right: 0;
    width: vwD(524);
    height: auto;
  }

  .inner {
    position: relative;
    z-index: 2;
    @include inner;
    padding-top: 80px;
    padding-bottom: 160px;

    @include desktop {
      padding-top: vwD(100);
      padding-bottom: vwD(100);
    }

    .title {
      @include h2;
      color: #FFF;
      transition: $time;
      margin-top: 40px;

      @include desktop {
        margin-top: vwD(60);
        width: vwD(842);
      }
    }

    .description {
      margin-top: 20px;
      //@include Almarai;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #FFF;
      transition: $time;

      @include desktop {
        margin-top: vwD(24);
        font-size: vwD(16);
        line-height: 140%;
        width: vwD(717);
      }
    }

    .tgLink {
      text-decoration: none;
      display: block;

      .submitBtn {
        margin-top: 40px;

        @include desktop {
          width: vwD(255);
        }
      }
    }
  }

  &_white {
    background: #7B8195;

    .inner {
      .title {
        color: #000;
      }

      .description {
        color: #000;
      }

      .submitBtn {
        //background: #000;
      }
    }
  }


}
