@import "./assets/style/app";

.aboutUs {
  background: #FFF;
  transition: 0.5s;

  .first {
    @include container;

    .inner {
      @include inner;
      padding-top: 80px;
      padding-bottom: 32px;

      @include desktop {
        padding-top: vwD(100);
        padding-bottom: vwD(80);
      }

      .textMobile {
        @include onlyMobile();
        margin-top: 40px;

        p {
          font-weight: 500;
          font-size: 32px;
          line-height: 100%;

          span {
            color: $color_green;
          }
        }
      }

      .textDesktop {
        @include onlyDesktop();
        margin-top: vwD(80);

        p {
          font-weight: 500;
          font-size: vwD(80);
          line-height: 100%;

          span {
            color: $color_green;
          }
        }
      }

      .text {
        font-weight: 500;
        font-size: 32px;
        line-height: 100%;
        margin-top: 40px;
        transition: $time;

        @include desktop {
          font-size: vwD(80);
          margin-top: vwD(80);
        }

        span {
          color: $color_green;
          transition: $time;
        }
      }
    }
  }

  .second {
    @include container;
    transition: $time;

    @include desktop {
      //border-top: 1px solid #000;
    }

    .inner {
      @include inner;
      //padding-left: 0;
      //padding-right: 0;

      @include desktop {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: vwD(106);
        padding-top: vwD(40);
        padding-bottom: vwD(40);
      }

      .item {
        padding: 0 0 32px;
        //border-top: 1px solid #000;
        position: relative;

        @include desktop {
          padding: 0;
          border-top: none;
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        .borderMobile {
          @include onlyMobile();
          height: 1px;
          width: 100%;
          background: #000;
        }

        .borderTopDesktop {
          @include onlyDesktop();
          position: absolute;
          left: 50%;
          top: vwD(-40);
          width: vwD(327);
          height: 1px;
          transform: translateX(-50%);

          .borderTopDesktopInner {
            height: 100%;
            width: 100%;
            background: #000;;
          }
        }

        .borderVerticalDesktop {
          @include onlyDesktop();
          position: absolute;
          top: 50%;
          left: vwD(-53);
          transform: translateY(-50%) rotate(-0deg);
          width: 1px;
          height: vwD(200);

          .borderVerticalInner {
            height: 100%;
            width: 100%;
            background: #000;
          }

        }

        .numberWrapper {
          display: flex;
          margin-top: 32px;

          @include desktop {
            margin-top: 0;
          }

          .value {
            font-weight: 400;
            font-size: 64px;
            line-height: 100%;
            transition: $time;

            @include desktop {
              font-size: vwD(128);
            }
          }
        }

        .text {
          font-weight: 400;
          font-size: 16px;
          line-height: 140%;
          margin-top: 8px;
          transition: $time;

          @include desktop {
            font-size: vwD(16);
            margin-top: vwD(30);
            text-align: center;
          }
        }

        //&::after {
        //  @include onlyDesktop();
        //  content: "";
        //  position: absolute;
        //  top: vwD(-40);
        //  left: 50%;
        //  transform: translateX(-50%);
        //  width: vwD(340);
        //  height: 1px;
        //  background: #000;
        //}

        //&:not(:first-child) {
        //  &::before {
        //    @include onlyDesktop();
        //    content: "";
        //    position: absolute;
        //    top: 50%;
        //    left: vwD(-53);
        //    transform: translateY(-50%) rotate(-0deg);
        //    width: 1px;
        //    height: vwD(200);
        //    background: #000;
        //    transition: $time;
        //  }
        //}
      }
    }
  }

  &_dark {
    background: #000;

    .second {

      @include desktop {
        border-top: 1px solid #FFF;
      }

      .inner {

        .item {

          border-top: 1px solid #FFF;

          .value {
            color: #FFF;
          }

          .text {
            color: #FFF;
          }

          &:not(:first-child) {
            &::before {
              background: #FFF;
            }
          }
        }
      }
    }
  }
}
