@import "./assets/style/app";

.primaryButton {
  @include button;
  @include centerRow;
  position: relative;
  border-radius: 999px;
  height: 60px;
  width: 100%;
  transition: 0.3s;
  overflow: hidden;

  @include desktop {
    height: vwD(80);
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    transform: translateY(101%);
  }

  &:hover {
    &::after {
      transform: translateY(0%);
    }
  }

  p {
    position: relative;
    z-index: 2;
    @include Almarai;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;

    @include desktop {
      font-size: vwD(16);
      line-height: vwD(18);
    }
  }

  &_white {
    background: #FFF;

    &::after {
      background: #CFCFCF;
    }

    p {
      color: #000;
    }

  }

  &_white_mouseDown, &_white_mouseDown:hover {
    &::after {
      background: #B9B9B9;
    }
  }

  &_dark {
    background: #000;

    &::after {
      background: #323232;
    }

    p {
      color: #FFF;//#72EF71;
    }
  }

  &_dark_mouseDown, &_dark_mouseDown:hover {
    &::after {
      background: #282828;
    }
  }

}
