@import "./assets/style/app";

.whatWeWorkWith {
  background: #FFF;
  padding-bottom: 26px;
  transition: $time;

  @include desktop {
    padding-bottom: 0;
  }

  .top {
    @include container;

    .inner {
      @include inner;
      padding-top: 80px;

      @include desktop {
        padding-top: vwD(100);
      }

      .title {
        @include h2;
        margin-top: 40px;
        transition: $time;
        color: #000;

        @include desktop {
          margin-top: vwD(60);
          width: 720px;
        }
      }

    }
  }

  .center {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 505px;

    @include desktop {
      height: vwD(1111);
    }

    .stones {
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 570px;
      height: 505px;
      transition: 1s;

      @include desktop {
        width: vwD(1254);
        height: vwD(1111);
      }

      &_centered {
        transform: translate(-50%, -50%) scale(5);
        opacity: 0;
      }
    }

    .ball {
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 570px;
      height: 505px;

      @include desktop {
        width: vwD(1254);
        height: vwD(1111);
      }
    }

    .row {
      background: #FFF;
      display: flex;
      align-items: center;
      height: 86px;
      padding: 0 28px;

      @include desktop {
        height: vwD(180);
        padding: 0 vwD(28);
      }

      &_1 {
        position: absolute;
        z-index: 1;
        transform: translate(-50%, -50%) rotate(-10deg);
        opacity: 0.4;
      }

      &_2 {
        position: absolute;
        z-index: 3;
        transform: translate(-50%, -50%) rotate(10deg);
      }

      .item {
        display: flex;
        align-items: center;

        &:not(:first-child) {
          margin-left: 24px;

          @include desktop {
            margin-left: vwD(50);
          }
        }

        .text {
          font-weight: 700;
          font-size: 38.4679px;
          line-height: 48px;

          @include desktop {
            font-size: vwD(80);
            line-height: vwD(100);
          }

          &_2n {
            padding: 4px 30px;
            border: 1px solid #000;
            border-radius: 999px;

            @include desktop {
              padding: vwD(12) vwD(64);
            }
          }
        }

        .icon {
          @include centerColumn;
          background: #000;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin-left: 24px;

          @include desktop {
            width: vwD(84);
            height: vwD(84);
            margin-left: vwD(50);
          }

          svg {
            width: 18px;
            height: 18px;

            @include desktop {
              width: vwD(37);
              height: vwD(37);
            }
          }
        }
      }
    }
  }

  &_dark {
    background: #000;

    .top {
      .inner {
        .title {
          color: #FFF;
        }
      }
    }
  }

}
