@import "./assets/style/app";

.reviews {
  background: #000;
  padding-top: 80px;
  padding-bottom: 80px;

  @include desktop {
    padding-top: vwD(100);
    padding-bottom: vwD(100);
  }

  .popup {
    @include onlyDesktop();
    pointer-events: none;
    position: fixed;
    z-index: 10;

    .popupInner {
      @include centerRow;
      width: vwD(120);
      height: vwD(120);
      background: #FFF;
      border: 1px solid #000;
      border-radius: 50%;

      p {
        @include Almarai;
        font-style: normal;
        font-weight: 700;
        font-size: vwD(16);
        line-height: vwD(18);
        margin: 0 vwD(6);
      }

      svg {
        path {
          fill: #000;
        }

        &:last-child {
          transform: rotate(180deg);
        }
      }
    }


  }

  .top {
    @include container;

    .inner {
      @include inner;
    }
  }

  .swiperWrapper {
    position: relative;
    cursor: pointer;
    margin-top: 40px;

    @include desktop {
      margin-top: vwD(60);
    }

    .swiper {

      .slide {
        @include container;

        .inner {
          @include inner;

          p {
            @include h2;
            color: #FFF;
          }
        }
      }
    }
  }


  .bottom {
    @include container;
    margin-top: 20px;

    @include desktop {
      margin-top: vwD(60);
    }

    .inner {
      @include inner;

      @include desktop {
        display: flex;
        align-items: center;
      }

      .texts {
        p:nth-child(1) {
          //@include Almarai;
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          color: rgba(255, 255, 255, 0.4);

          @include desktop {
            font-size: vwD(14);
            line-height: 140%;
          }
        }

        p:nth-child(2) {
          font-weight: 500;
          font-size: 16px;
          line-height: 140%;
          margin-top: 4px;
          color: #FFF;

          @include desktop {
            font-weight: 700;
            font-size: vwD(24);
            line-height: 100%;
            margin-top: vwD(8);
          }
        }
      }

      .control {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 42px;

        @include desktop {
          flex-grow: 1;
          margin-top: 0;
          margin-left: vwD(40);
        }

        .workBtn {

        }

        .navigate {
          display: flex;
          margin-left: 12px;

          @include desktop {
            margin-left: vwD(40);
          }

          .prevBtn, .nextBtn {
            @include button;
            @include centerColumn;
            border: 1px solid #FFF;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            transition: 0.3s;
            background: transparent;

            @include desktop {
              width: vwD(60);
              height: vwD(60);
            }

            &:hover {
              background: #232323;
            }

            &:disabled, &:disabled:hover {
              background: transparent;
              opacity: 0.4;
            }

          }

          .nextBtn {
            margin-left: 4px;

            @include desktop {
              margin-left: vwD(4);
            }

            svg {
              transform: rotate(180deg);
            }
          }
        }

      }

    }
  }

  .blocks {
    position: relative;
    margin-top: 80px;
    height: 208px;
    width: 100%;
    overflow: hidden;

    @include desktop {
      margin-top: vwD(100);
      height: vwD(340);
    }

    .rowWrapper {
      position: relative;
      width: 100%;
      height: 100px;

      @include desktop {
        height: vwD(160);
      }

      &:nth-child(2) {
        margin-top: 8px;

        @include desktop {
          margin-top: vwD(20);
        }
      }

      .rowAnimated {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        padding-right: 8px;

        @include desktop {
          padding-right: vwD(20);
        }

        .block0, .block1, .block2, .block3 {
          @include centerColumn;
          flex-shrink: 0;

          &:not(:first-child) {
            margin-left: 8px;

            @include desktop {
              margin-left: vwD(20);
            }
          }
        }

        .block0, .block1, .block2 {
          border-radius: 50%;
          width: 100px;
          height: 100px;

          @include desktop {
            width: vwD(160);
            height: vwD(160);
          }

          img {
            display: block;
            width: 60px;
            height: auto;

            @include desktop {
              width: vwD(100);
            }
          }

        }

        .block0 {
          background: linear-gradient(0deg, #CBD6CD, #CBD6CD), #000000;
        }

        .block1 {
          background: linear-gradient(0deg, #B4B2BE, #B4B2BE), linear-gradient(0deg, #CBD6CD, #CBD6CD), #000000;
        }

        .block2 {
          background: linear-gradient(0deg, #90BB99, #90BB99), linear-gradient(0deg, #CBD6CD, #CBD6CD), #000000;
        }

        .block3 {
          background: #C8BCC2;
          border-radius: 30px;
          width: 160px;
          height: 100px;

          @include desktop {
            border-radius: vwD(30);
            width: vwD(300);
            height: vwD(160);
          }

          img {
            display: block;
            width: 81px;
            height: auto;

            @include desktop {
              width: vwD(120);
            }
          }
        }

      }
    }

  }
}


