@import "./assets/style/app";

.letsTalk {
  @include container;
  background: #FFF;
  transition: 0.5s;
  padding-top: 80px;
  padding-bottom: 80px;

  @include desktop {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &_dark {
    background: #7B8195;
  }

  .inner {
    @include inner;

    .title {
      @include h2;
      margin-top: 40px;

      @include desktop {
        margin-top: 60px;
      }
    }

    .form {
      margin-top: 40px;

      @include desktop {
        margin-top: 60px;
      }

      .twoFields {

        @include desktop {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-column-gap: 16px;
        }

        .fieldWrapper {

          @include desktop {
            display: flex;
            align-items: flex-end;
          }

          &:not(:first-child) {
            margin-top: 32px;

            @include desktop {
              margin-top: 0;
            }
          }

          .label {
            white-space: nowrap;
            font-weight: 500;
            font-size: 22px;
            line-height: 100%;

            @include desktop {
              font-size: 36px;
            }
          }

          .field {
            width: 100%;
            margin-top: 4px;

            @include desktop {
              margin-top: 0;
              margin-left: 24px;


            }

          }

        }
      }

      .briefWrapper {
        margin-top: 32px;

        @include desktop {
          margin-top: 40px;
          display: flex;
          align-items: center;
        }

        .textMobile {
          @include onlyMobile();
          font-weight: 500;
          font-size: 22px;
          line-height: 100%;
        }

        .textDesktop {
          @include onlyDesktop();
          font-weight: 500;
          font-size: 36px;
          line-height: 100%;
        }

        .selectWrapper {
          margin-top: 16px;
          width: 100%;

          @include desktop {
            margin-top: 0;
            width: 215px;
            margin-left: 40px;
            margin-right: 40px;
          }
        }

        .field {
          margin-top: 16px;
          width: 100%;

          @include desktop {
            margin-top: 0;
            margin-left: 40px;
            margin-right: 40px;
            width: 215px;

          }
        }
      }

      .ideaField {
        width: 100%;
        margin-top: 16px;

        @include desktop {
          margin-top: 40px;
        }
      }

      .budgetWrapper {
        margin-top: 32px;

        @include desktop {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 40px;
        }

        .label {
          font-weight: 500;
          font-size: 22px;
          line-height: 100%;

          @include desktop {
            font-size: 36px;
          }
        }

        .buttons {
          margin-top: 16px;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
          grid-gap: 4px;

          @include desktop {
            margin-top: 0;
            display: flex;
            grid-gap: 0;
          }

          .btn {
            @include button;
            @include centerRow;
            @include Almarai;
            background: transparent;
            border: 1px solid #000;
            border-radius: 999px;
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            height: 42px;
            color: rgba(0, 0, 0, 1);
            transition: 0.3s;

            @include desktop {
              width: 150px;
            }

            &:not(:first-child) {
              @include desktop {
                margin-left: 8px;
              }
            }

            &:hover {
              background: #E8E8E8;
            }

            &_selected {
              background: rgba(0, 0, 0, 1);
              color: #72EF71;

              &:hover {
                background: rgba(0, 0, 0, 1);
                color: #72EF71;
              }
            }

          }
        }

      }

      .submitBtn {
        margin-top: 40px;

        @include desktop {
          margin-top: 60px;
        }

      }

      .emailWrapper {
        margin-top: 32px;

        @include desktop {
          margin-top: 40px;
          display: flex;
          align-items: flex-end;
        }

        .label {
          white-space: nowrap;
          font-weight: 500;
          font-size: 22px;
          line-height: 100%;

          @include desktop {
            font-size: 36px;
          }
        }

        .field {
          width: 100%;
          margin-top: 16px;

          @include desktop {
            margin-top: 0;
            margin-left: 24px;
          }
        }
      }


    }

  }
}
