@import "./assets/style/app";

.mainLayout {
  box-sizing: border-box;
  padding-bottom: 660px;
  position: relative;
  overflow: hidden;

  @include desktop {
    padding-bottom: 893px;
  }

  &_preloader {
    height: 100vh;
    overflow: hidden;
  }

  .main {
    padding-top: 70px;
    position: relative;
    z-index: 2;

    @include desktop {
      padding-top: 100px;
    }
  }
}
