@import "./assets/style/app";

.letsTalkModal {
  @include absoluteCenter;
  background: #FFF;
  box-sizing: border-box;
  border-radius: 32px;
  width: calc(100vw - 32px);
  max-width: 460px;
  padding: 30px 20px 20px;
  box-sizing: border-box;

  @include desktop {
    border-radius: vwD(32);
    width: vwD(460);
    padding: vwD(32) vwD(28) vwD(28);
  }

  .title {
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    text-align: center;

    @include desktop {
      font-size: vwD(32);
    }

    &_form {
      text-align: left;
    }
  }

  .closeBtn {
    @include button;
    @include centerRow;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 42px;
    height: 42px;
    background: #000;
    border-radius: 50%;
    transition: 0.3s;

    @include desktop {
      top: vwD(20);
      right: vwD(20);
      width: vwD(42);
      height: vwD(42);
    }

    &:hover {
      background: #282828;
    }

    svg {
      width: 20px;
      height: 20px;

      @include desktop {
        width: vwD(20);
        height: vwD(20);
      }

      path {
        fill: #72EF71;
      }
    }
  }

  .form {
    margin-top: 30px;

    @include desktop {
      margin-top: vwD(45);
    }

    .twoFields {

      @include desktop {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: vwD(20);
      }

      .field {
        margin-top: 16px;

        @include desktop {
          margin-top: 0;
        }
      }
    }

    .field {
      margin-top: 16px;

      @include desktop {
        margin-top: vwD(40);
      }
    }

    .textareaField {
      background: #E8E8E8;
      border-radius: 5px;
      margin-top: 16px;
      padding: 12px;
      height: 180px;

      @include desktop {
        border-radius: vwD(5);
        margin-top: vwD(20);
        padding: vwD(20);
        height: vwD(200);
      }

      .textarea {
        background: none;
        border: none;
        outline: none;
        width: 100%;
        height: 100%;
        resize: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;

        @include desktop {
          font-size: vwD(16);
        }
      }

    }

    .sendBtn {
      margin-top: 20px;

      @include desktop {
        margin-top: vwD(20);
      }
    }

  }

  .description {
    @include Almarai;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin: 10px auto 0;
    text-align: center;
    width: 150px;

    @include desktop {
      font-size: vwD(14);
      line-height: vwD(16);
      margin: vwD(12) auto 0;
      width: vwD(150);
    }

  }

  .img {
    display: block;
    margin: 20px auto 0;
    width: 159px;
    height: 283px;

    @include desktop {
      margin: vwD(32) auto 0;
      width: vwD(193);
      height: vwD(298);
    }
  }

  .confirmBtn {
    margin-top: 26px;

    @include desktop {
      margin-top: vwD(18);
    }
  }

}
