@import "./assets/style/app";

.firstBlock {
  @include container;
  position: relative;
  z-index: 2;

  .inner {
    @include inner;
    position: relative;
    padding-bottom: 45px;
    box-sizing: border-box;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @include desktop {
      padding-bottom: vwD(45);
      height: 100vh - vwD(100);
    }

    .titleBlock {

      @include desktop {
        display: flex;
        justify-content: space-between;
      }

      .title {
        @include h2;
        color: #FFF;

        @include desktop {
          width: vwD(720);
        }
      }

      .right {
        @include onlyDesktop(flex);
        flex-direction: column;
        justify-content: space-between;


        div {
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          p {
            font-weight: 500;
            font-size: 18px;
            line-height: 140%;
            color: #FFF;

            @include desktop {
              font-size: vwD(18);
            }
          }
        }

      }

    }

    .items {
      margin-top: 24px;
      display: flex;
      flex-wrap: wrap;

      @include desktop {
        margin-top: vwD(24);
      }

      .item {
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        color: #FFF;
        padding: 10px 20px;
        border: 1px solid #FFF;
        border-radius: 999px;
        margin: 2px;
        transition: 0.3s;
        background: transparent;

        &:hover {
          background: #232323;
        }

        @include desktop {
          font-size: vwD(16);
          padding: vwD(10) vwD(20);
          margin: 0;
        }
      }

    }
  }


}
