@import "./assets/style/app";

.ourTeam {
  background: #FFF;
  transition: $time;
  padding-bottom: 80px;

  @include desktop {
    padding-bottom: vwD(100);
  }

  .top {
    @include container;

    .inner {
      @include inner;
      padding-top: 80px;
      padding-bottom: 32px;

      @include desktop {
        padding-top: vwD(100);
        padding-bottom: vwD(60);
      }

      .title {
        @include h2;
        color: #000;
        transition: $time;
        margin-top: 32px;

        @include desktop {
          margin-top: vwD(60);
          width: vwD(680);
        }
      }
    }
  }

  .swiperWrapper {
    @include onlyMobile();

    .swiper {

      .slideWrapper {
        display: flex;
        justify-content: center;
      }
    }
  }

  .slidesDesktop {
    @include onlyDesktop(flex);
    @include container;

    .inner {
      @include inner;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: vwD(4);
    }
  }

  .navigate {
    margin-top: 32px;
    @include onlyMobile(flex);
    align-items: center;
    justify-content: center;

    .prevBtn, .nextBtn  {
      @include button;
      @include centerColumn;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 1px solid #FFF;
      box-sizing: border-box;
      transition: 0.3s;

      &:hover {
        background: #232323;
      }

      &:disabled, &:disabled:hover {
        background: transparent;
        opacity: 0.4;
      }
    }

    .nextBtn {
      svg {
        transform: rotate(180deg);
      }
    }

    .center {
      width: 192px;
      display: flex;
      justify-content: center;
      align-items: flex-end;

      p:nth-child(1) {
        font-weight: 500;
        font-size: 32px;
        line-height: 100%;
        color: #FFF;
      }

      p:nth-child(1) {
        font-weight: 500;
        font-size: 32px;
        line-height: 100%;
        color: #FFF;
      }

      p:nth-child(2) {
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        color: grey;
      }
    }
  }

  .slide {
    width: 312px;
    height: 417px;
    position: relative;
    overflow: hidden;
    background: #FFF;
    border-radius: 32px;
    padding-top: 30px;
    padding-left: 24px;
    box-sizing: border-box;

    @include desktop {
      width: auto;
      height: vwD(417);
      border-radius: vwD(32);
      padding-top: vwD(30);
      padding-left: vwD(30);
    }

    .back {
      display: block;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .avatar {
      display: block;
      position: absolute;
      z-index: 2;
      width: 346px;
      height: 334px;
      left: 24px;
      top: 90px;

      @include desktop {
        width: vwD(428);
        height: vwD(413);
        left: vwD(35);
        top: vwD(45);
      }
    }

    .position {
      @include Almarai;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      position: relative;
      z-index: 3;

      @include desktop {
        font-size: vwD(14);
        line-height: vwD(16);
      }
    }

    .name {
      font-weight: 700;
      font-size: 24px;
      line-height: 100%;
      margin-top: 8px;
      position: relative;
      z-index: 3;

      @include desktop {
        width: vwD(280);
        font-size: vwD(24);
        margin-top: vwD(8);
      }
    }
  }

  &_dark {
    background: #000;

    .top {
      .inner {
        .title {
          color: #FFF;
        }
      }
    }
  }
}
