@import "./assets/style/app";

.ourPortfolio {
  @include container;
  background: #000;

  .inner {
    @include inner;
    padding-top: 106px;
    padding-bottom: 80px;

    @include desktop {
      padding-top: vwD(100);
      padding-bottom: vwD(104);
    }

    .title {
      @include h2;
      color: #FFF;
      margin-top: 40px;

      @include desktop {
        margin-top: vwD(60);
      }
    }

    .items {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;

      @include desktop {
        margin-top: vwD(60);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: vwD(4);
      }

      .item {
        text-decoration: none;
        width: 312px;
        height: 270px;
        border-radius: 35px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        overflow: hidden;
        padding: 4px;
        box-sizing: border-box;

        @include desktop {
          height: vwD(500);
          width: vwD(578);
          border-radius: vwD(32);
          padding: vwD(4);
        }

        &:not(:first-child) {
          margin-top: 4px;

          @include desktop {
            margin-top: 0;
          }
        }

        img {
          position: absolute;
          z-index: 1;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .info {
          position: relative;
          z-index: 2;
          background: rgba(255, 255, 255, 0.6);
          border: 1px solid #000000;
          backdrop-filter: blur(10px);
          border-radius: 999px;
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 18px;

          @include desktop {
            height: vwD(56);
            backdrop-filter: blur(20px);
            box-sizing: border-box;
            border-radius: vwD(32);
            padding: 0 vwD(16);
          }

          p {
            font-weight: 400;
            font-size: 18px;
            line-height: 140%;

            @include desktop {
              font-size: vwD(16);
            }
          }
        }
      }
    }
  }
}
