@import "./assets/style/app";

.otherWorks {

  .top {
    @include container;

    .inner {
      @include inner;
      padding-top: 80px;
      padding-bottom: 24px;

      @include desktop {
        padding-top: 100px;
        padding-bottom: 60px;
      }

      .buttons {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;

        @include desktop {
          margin-top: 60px;
        }

        .btn {
          @include button;
          padding: 21px 24px;
          font-weight: 700;
          font-size: 16px;
          line-height: 18px;
          color: #FFF;
          margin: 2px;
          background: #000;
          border-radius: 999px;
          transition: 0.3s;

          @include desktop {
            margin: 0;
            padding: 32px;
          }

          &_selected {
            background: $color_green;
            color: #000;
          }
        }
      }

    }
  }

  .works {
    border-top: 1px solid #000;

    .work {
      @include container;
      cursor: pointer;
      border-bottom: 1px solid #000;
      position: relative;


      //&::after {
      //  content: "";
      //  position: absolute;
      //  display: block;
      //  left: 0;
      //  bottom: 0;
      //  height: 4px;
      //  width: 0;
      //  background: #000;
      //  transition: 0.5s;
      //}

      .inner {
        @include inner;
        padding-top: 32px;
        padding-bottom: 32px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
          display: flex;
          align-items: center;

          .year, .label {
            @include onlyDesktop();
            padding: 10px 14px;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            border: 1px solid #000;
            border-radius: 999px;
          }

          .name {
            font-weight: 500;
            font-size: 32px;
            line-height: 100%;

            @include desktop {
              font-size: 36px;
              width: 640px;
              box-sizing: border-box;
              padding-left: 40px;
            }
          }
        }

        svg {
          transition: 0.5s;
        }
      }

      &:hover {
        //&::after {
        //  position: absolute;
        //  display: block;
        //  left: 0;
        //  bottom: -2px;
        //  height: 4px;
        //  width: 100%;
        //  background: #000;
        //  transition: 0.3s;
        //}

        .inner {
          svg {
            transform: rotate(45deg);
          }
        }
      }

    }
  }

  .bottom {
    @include container;

    .inner {
      @include inner;
      padding-top: 40px;
      padding-bottom: 80px;

      @include desktop {
        padding-top: 60px;
        padding-bottom: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .allWorksBtn {
        @include button;
        @include centerRow;
        background: #000000;
        border-radius: 999px;
        height: 80px;
        width: 100%;
        @include Almarai;
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        color: #FFF;

        @include desktop {
          width: 800px;
        }
      }

      .socialIcons {
        @include onlyDesktop(flex);

        .socialLink {
          @include centerRow;
          width: 80px;
          height: 80px;
          background: #000;
          border-radius: 50%;
        }
      }

    }
  }

}
