@use "sass:math";
@import "./app";

* {
  margin: 0;
  padding: 0;
  font-family: 'Syne', sans-serif;
  font-style: normal;
  color: #000;
}

body {
  background: #FFF;
}

//========= soundBtn =========//
.soundBtn {
  svg {
    animation-name: jump;
    animation-duration: 600ms;
    animation-iteration-count: infinite;
  }
}

@keyframes jump {
  0% {
    transform: scale(0.75);
  }
  80% {
    transform: scale(1);

  }
  85% {
    transform: scale(0.85);

  }
  90% {
    transform: scale(1);

  }
  95% {
    transform: scale(0.85);

  }
  100% {
    transform: scale(1);

  }
}

//========= PRELOADER =========//
.preloader {
  animation-name: preloader;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes preloader {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0%);
  }
}

//========= ANIMATED LINK =========//
.mouseEnter {
  @include desktop() {
    &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: -2px;
      left: 0;
      height: 4px;
      background: #000;
      animation-name: enter;
      animation-duration: 0.6s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
  }
}

.mouseLeave {
  @include desktop() {
    &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: -2px;
      right: 0;
      height: 4px;
      background: #000;
      animation-name: leave;
      animation-duration: 0.6s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes enter {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes leave {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

//========= run line =========//

.line-to-left {
  animation-name: run-line-to-left;
  animation-iteration-count: infinite;
  animation-duration: 200s;
  animation-timing-function: linear;
}

@keyframes run-line-to-left {
  0% {
    transform: translateX(-50%);
  }
  25% {
    transform: translateX(-75%);
  }
  75% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.line-to-right {
  animation-name: run-line-to-right;
  animation-iteration-count: infinite;
  animation-duration: 200s;
  animation-timing-function: linear;
}

@keyframes run-line-to-right {
  0% {
    transform: translateX(-50%);
  }
  25% {
    transform: translateX(-25%);
  }
  75% {
    transform: translateX(-75%);
  }
  100% {
    transform: translateX(-50%);
  }
}

//========= run rotated line =========//
.rotated-line-1 {
  animation-name: rotated-run-line-1;
  animation-iteration-count: infinite;
  animation-duration: 60s;
  animation-timing-function: linear;
}

@keyframes rotated-run-line-1 {
  0% {
    left: 50%;
    top: 50%;
  }
  25% {
    left: calc(50% + 0.98480775 * 3000px);
    top: calc(50% - 0.17364817 * 3000px);
  }
  75% {
    left: calc(50% - 0.98480775 * 3000px);
    top: calc(50% + 0.17364817 * 3000px);
  }
  100% {
    left: 50%;
    top: 50%;
  }
}

.rotated-line-2 {
  animation-name: rotated-run-line-2;
  animation-iteration-count: infinite;
  animation-duration: 60s;
  animation-timing-function: linear;
}

@keyframes rotated-run-line-2 {
  0% {
    left: 50%;
    top: 50%;
  }
  25% {
    left: calc(50% - 0.98480775 * 3000px);
    top: calc(50% - 0.17364817 * 3000px);
  }
  75% {
    left: calc(50% + 0.98480775 * 3000px);
    top: calc(50% + 0.17364817 * 3000px);
  }
  100% {
    left: 50%;
    top: 50%;
  }
}

.equalizer {
  animation-name: equalizerAnimation;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}
@keyframes equalizerAnimation {
  0% {
    height: 30%
  }
  50% {
    height: 100%
  }
  100% {
    height: 30%
  }
}
