@import "./assets/style/app";

.ourServices {
  //background: #000;
  padding-bottom: 80px;
  position: relative;
  z-index: 2;

  @include desktop {
    padding-bottom: vwD(100);
  }

  .header {
    @include container;

    .inner {
      @include inner;
      padding-top: 80px;
      padding-bottom: 40px;

      @include desktop {
        padding-top: vwD(100);
        padding-bottom: vwD(60);
      }

      .title {
        @include h2;
        color: #FFF;
        margin-top: 40px;

        @include desktop {
          margin-top: vwD(60);
        }
      }
    }
  }

  .list {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

    .item {
      cursor: pointer;
      //border-top: 1px solid rgba(255, 255, 255, 0.3);
      transition: 0.3s;

      .borderTop {
        height: 1px;
        width: 100%;
        background: rgba(255, 255, 255, 0.3);
      }

      .inner {
        @include inner;
        padding-top: 32px;
        padding-bottom: 32px;

        @include desktop {
          padding-top: vwD(32);
          padding-bottom: vwD(32);
        }

        .top {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .title {
            font-weight: 500;
            font-size: 32px;
            line-height: 100%;
            color: #FFF;
            transition: 0.3s;

            @include desktop {
              font-size: vwD(36);
            }
          }

          .chip {
            @include centerRow;
            width: 42px;
            height: 42px;
            border-radius: 999px;
            border: 1px solid #FFF;
            background: #000;
            transition: 0.3s;

            @include desktop {
              width: vwD(42);
              height: vwD(42);
            }

            p {
              @include Almarai;
              font-weight: 700;
              font-size: 14px;
              line-height: 16px;
              color: #FFF;
              transition: 0.3s;

              @include desktop {
                font-size: vwD(14);
                line-height: vwD(16);
              }
            }

            @include desktop {
              width: vwD(150);
            }
          }
        }

        .text {
          @include Almarai;
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          margin-top: 8px;
          padding-right: 82px;

          @include desktop {
            font-size: vwD(14);
            line-height: vwD(16);
            margin-top: vwD(24);
            padding-right: vwD(9);
          }
        }

      }

      &_selected {
        background: #FFF;

        .inner {
          .top {
            .title {
              color: #000;
            }

            .chip {
              border: 1px solid #000;

              p {
                color: #FFF;
              }
            }
          }
        }
      }
    }
  }
}
